name: Docker
on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Version der Anwendung'
        required: true 
env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: rcdiscordbot
  
jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Publish App
        run: dotnet publish src/src/Rc.DiscordBot.Worker/Rc.DiscordBot.Worker.csproj -c Release -o publish

      - name: Build image
        run: docker build src/src/Rc.DiscordBot.Worker/ --file Dockerfile --tag $IMAGE_NAME --build-arg=PUBLISH_PATH=/home/runner/work/DiscordBot/DiscordBot/publish/

      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
        
      - name: Push image
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          docker tag $IMAGE_NAME $IMAGE_ID:latest
          docker tag $IMAGE_NAME $IMAGE_ID:${{ github.event.inputs.version }}
          docker push $IMAGE_ID:latest
