name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore src/Rc.DiscordBot.sln
    - name: Build
      run: dotnet build src/Rc.DiscordBot.sln --no-restore
    - name: Test
      run: dotnet test src/Rc.DiscordBot.sln --no-build --verbosity normal
    - name: Publish
      run: dotnet publish src/src/Rc.DiscordBot.Worker.Linux/Rc.DiscordBot.Worker.Linux.csproj --self-contained true -p:PublishTrimmed=true --no-restore -c release -o publish -r linux-x64 -p:PublishDir=.\linux-standalone

      
      
